@import './variables.scss';
.background-container {
  background-color: white;
  width: 100%;
  height: 50%;
  border-top: 3px inset black;
  border-left: 3px inset black;
  border-bottom: 3px inset rgb(151, 149, 149);
  border-right: 3px inset rgb(151, 149, 149);
}

.wallpaper-list {
  list-style: none;
  padding: 2px;
  text-align: center;
  display: grid;
  //108px = width icon (96px, hardcoded) + 12px padding
  grid-template-columns: repeat(auto-fit, minmax(108px, max-content)); 
  justify-content: center;
  
}

.wallpaper-item {
  float: left;
  text-decoration: none;
  &:hover {
    background-color: $blue-95;
    color: white;
  }
  padding: 12px;
}

.wallpaper-file-name-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 96px;
}

.wallpaper-image-wrapper {
  width: 96px;
  margin: auto;
  position: sticky;
  padding: 0 !important;
}

.delete-icon {
  cursor: pointer;
}

.upload-button {
  float: right;
  margin-top: 10px;
}

.random-checkbox {
  margin-top: 10px;
}
