@import './variables';

.topsite {
  width: 20%;
  float: left;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  padding: 5px;
}

.topsite:hover {
  text-decoration: none;
  color: white;
}

.topsite span {
  display: inline-block;
  font-size: 16px;
  @include stroke(#000, 1px);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  padding-left: 1ch;
  padding-right: 1ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.topsite:hover span {
  outline: 1px dotted white;
  background-color: $blue-95;
}

.topsite:hover img {
  filter: url(#blueFilter);
}
.topSiteList {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
  margin-top: 20px;
}

.topSitesWrapper {
  color: white;
  font-family: pixelated;
  width: 30.2%;
}

a:nth-child(6n) {
  clear: left;
}

.topsiteContent {
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  display: block;
  white-space: nowrap;
  width: 100%;
  padding: 2px;
}
